.about{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.about > .container{
    gap: 2.5em;
}

.img-container{
    flex: 1;
    position: relative;
    transform: translateX(-6rem);
    opacity: 0;
    transition: all 750ms ease-in;
}

@keyframes collapseWidth {
    to{
        width: 60%;
    }
}

.text-section{
    padding: 1em;
    border-radius: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dominant);
    color: var(--secondary);
    font-weight: 600;
    height: max-content;
    flex: 1.5;
    gap: 1em;
    box-shadow: var(--shadow);
    opacity: 0;
    transform: translateX(6rem);
    transition: all 750ms ease-in;
}



@media screen and (max-width: 600px) {
    .about{
        align-items: center;
    }
}