.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
}

.home > .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.column > h1{
    position: relative;
}

.column h1::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dominant);
}

.column h1:nth-child(2)::after  {
    animation: typewriter 1s steps(21) forwards;
}

.column h1:nth-child(3)::after {
    animation: typewriter 1s steps(13) forwards 1s;
}

.code{
    position: relative;
    font-size: 0.5em;
    font-family: 'Source Code Pro', monospace;
    display: block;
}

.code::first-letter{
    font-size: 1em;
}

.code::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dominant);
    animation: coding 1s steps(50) forwards;
}

@keyframes coding {
    100%{
        top: 100%;
    }
}

@keyframes typewriter {
    to{
        left: 100%;
    }
}

.avatar {
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: var(--accent);
    position: relative;
    z-index: 2;
    box-shadow: var(--shadow);
}


.shadow-effect{
    text-shadow: 
        -0.15em -0.1em 0.2em rgba(0, 0, 0, 0.5), 
        0.10em 0.05em 0.1em rgba(255, 255, 255, 0.3);
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.socials > a:hover {
    filter: invert(100%);
}

.socials img{
    width: 2em;
    height: 2em;
    border-radius: 0.25em;
    box-shadow: 
        0.05em 0.05em 0.1em #000, 
        -0.025em -0.05em 0.05em #fff;
}

.scroll-wrapper{
    height: 12em;
    position: relative;
}

.scroll-down-container{
    position: relative;
}

/*
ARTICLE IDEA : FIRST KEEP ONLY ACCENT WALA SHADOW AND BE LIKE HOW DO WE ADD SPACE BETWEEN THEM
*/

.down-arrow{
    width: 2.5em;
    height: 2.5em;
    border-bottom: 0.5em solid var(--accent);
    border-left: 0.5em solid var(--accent); 
    transform: rotate(-45deg);
    box-shadow:
        -0.5em 0.5em var(--dominant),  
        -1em 1em var(--accent),
        -1.5em 1.5em var(--dominant),  
        -2em 2em var(--accent);
}

.arrow-container{
    animation: pushDown 2s infinite;
}

@keyframes pushDown {
    to {
        transform: translateY(5em);
        opacity: 0;
    }
}

